<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to create an user</h1>
        <section>
            <form action="/users/addUser" method="post">
                <label for="first_name">Nombre:<input name ="first_name" type="text"></label><br><br>
                <label for="last_name">Apellido:<input name ="last_name" type="text"></label><br><br>
                <label for="dni">Cedula:<input name ="dni" type="number"></label><br><br>
                <label for="dislikes">¿Que no me gusta?:<input name ="dislikes" type="text"></label><br><br>
                <label for="allergies">¿A qué soy alérgico?:<input name ="allergies" type="text"></label><br><br>
                <label for="pleasures">Gustos:<input name ="pleasures" type="text"></label>
                <!--/*Campos de lista desplegable*/-->
                <p><button type="submit">Agregar</button></p>
            </form>

        </section>
  </body>
</html>
