<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/loginStyle.css' />
  </head>
  <body>
    
    <form action="/users/listUser">

      <h1 class="title">Amigo Secreto</h1>
      <label>
        <i class="fa-solid fa-user"></i>
        <input type="text" id="userName" placeholder="ingrese su usuario">
      </label>
      <label>
        <i class="fas fa-unlock"></i></i>
        <input type="password" id="password" placeholder="ingrese su contraseña">
      </label>

      <button id="button" onclick="window.location='/users/listUser'">Login</button>
    </form>

  
  </body>
</html>
