<!DOCTYPE html>
<html>
  <head>
    <title>Amigo Secreto - Código Moda</title>
    <link rel='stylesheet' href='/stylesheets/listUserStyle.css' />
  </head>
  <body>

    <div class="boxContainer">
      <h1>Listado de participantes</h1>
      <ul>
          <% for (let i = 0; i < userResponse.length; i++){%>
                  <li><span><%=i+1%></span><%=userResponse[i].first_name%></li>
              <%}%>
      </ul>
    </div>
    <div class="buttonsContainer">
      <button class="createUserButton" onclick="window.location='/users/createUser'">Crear usuario</button>
      <button class="raffleButton" id="raffle">¡Sorteo!</div>
    </div>

    <div class="emergentContainter" id="emergent_container">
      <div class="emergent">
        <h1>Tu amigo secreto es:</h1>
        
        <% const nombres = [];
        let nombre = userResponse.map(
            function (nombre){
                nombres.push(nombre.first_name)
            }
        )
        console.log(nombres)
        

        let random = Math.floor(Math.random() * nombres.length)
        let test= nombres[random]
       console.log(test)
 %> 
 <p><%=test  %> </p>

        <p><strong>Fechas a endulzar:</strong></p>
        <script>
         function giftDate(date, days){
          date.setDate(date.getDate() + days);
          return date.toDateString();}
          var today = new Date();
          document.write(giftDate(today, 5))
        </script></p>

          <p><strong>La fecha del descubrimiento es:</strong></p>
          <script>
            function giftFinally(date, days){
              date.setDate(date.getDate() + days);
              return date.toDateString();}
              var today = new Date();
              document.write(giftFinally(today, 25))
          </script></p>



        <button class="closeButton" id="close"> Cerrar</button>
        <script> 

          const raffle = document.getElementById('raffle'); 
          const emergent_container = document.getElementById('emergent_container'); 
          const close = document.getElementById('close'); 

         raffle.addEventListener('click', () =>{ 
          emergent_container.classList.add('show'); 
         }); 

         close.addEventListener('click', () =>{ 
          emergent_container.classList.remove('show'); 
        }); 
        </script>
      </div>

    </div>
    
  </body>
  
</html>
